.header-flat {
  display: flex;
  background-color: white;
}

.header-flat-details {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0;
}

.header-flat-owner {
  padding-right: 60px;
  h2 {
    color: $gray;
    font-size: 18px;
  }

  p {
    color: $gray;
    font-size: 16px;
  }
}

.img-sm {
  width: 100px;
}

.header-flat-name {
  h2 {
  color: $gray;
  font-size: 20px;
  }

  p {
    color: $gray;
    font-size: 16px;
  }

}


.rating {
  display: flex;
}
